        #page
        {width:800px; 
	    margin: 0 auto; padding:0;
        } 
	    p
        {
         border:1px ;
        } 
	    h2
        {margin:0;padding:0;
        }
        #page img
        {
            float:left;margin:1em;
        }
        table
        {
            border-collapse: collapse;
            width:100%;
        }
        .page:after
        {
            content: "";
            display: table;
            clear: both;
        } 
        .footer 
        {
                background-color: #6495ed;
                padding: 10px;
                text-align: center;
        }

        table, td, th 
        {
            border: 1px solid black;
        }
        th
        {
	        height:50px;
        }
        td
        {
	       text-align:center;
	       height:50px;
	    }