h1{	
	background-color:#6495ed;
}

p{
	
}

body{
	background-image:url('../photos/starsky.png');
	
}

div
{
	
}
/*    导航条    */
            body .topnav {
                overflow: hidden;
                background-color: #333;
            }
            /*     导航连接   */
            body .topnav a{
                float: left;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 24px 56px;
                text-decoration: none;
            }
            body .topnav a:hover:not(.active) {
                background-color: #ddd;
                color: black;
            }
        